body{
  display: flex;
}

.img{
  margin-right: 2%;
  width: 100vh;
  height: 100vh;
  background: url(photo-1585202900225-6d3ac20a6962.webp) no-repeat;
  background-size: cover;
}

.form-info{
  background-color: antiquewhite;
}
.form-content{
  display: block;
}
.form-item{
  align-items: center;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  
}




.form-input{
  
  margin-bottom: 5%;


}

.create-account{
  display: flex;
  justify-content: center;
  
}

.create-account button{
  background-color: green;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin-top: 15px;
}

.create-account button:hover{
  background-color: red;
}
